{% load static %}
{% load getattribute %}


{% for beat in snippet.beats.all %}
    <div class="card mt-5" style="display: inline-block">
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">1</th>
                    <th scope="col">&</th>
                    <th scope="col">2</th>
                    <th scope="col">&</th>
                    <th scope="col">3</th>
                    <th scope="col">&</th>
                    <th scope="col">4</th>
                    <th scope="col">&</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><img src="{% static 'snippets/img/hihat.png' %}" alt="" class="icon"></th>
                    {% for bar in bars %}
                        <td>
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   data-snippet-id="{{ snippet.id }}"
                                   data-beat-id="{{ beat.id }}"
                                   data-pattern-id="{{ beat.hihat.pattern.id }}"
                                   data-bar="{{ bar }}"
                                   data-index="{{ forloop.counter }}"
                                   {% if beat.hihat.pattern|getattribute:bar %}checked{% endif %}>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'snippets/img/snare.png' %}" alt="" class="icon"></th>
                    {% for bar in bars %}
                        <td>
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   data-snippet-id="{{ snippet.id }}"
                                   data-beat-id="{{ beat.id }}"
                                   data-pattern-id="{{ beat.snare.pattern.id }}"
                                   data-position="{{ forloop.counter }}"
                                   {% if beat.snare.pattern|getattribute:bar %}checked{% endif %}>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'snippets/img/kick.png' %}" alt="" class="icon"></th>
                    {% for bar in bars %}
                        <td>
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   data-snippet-id="{{ snippet.id }}"
                                   data-beat-id="{{ beat.id }}"
                                   data-pattern-id="{{ beat.kick.pattern.id }}"
                                   data-position="{{ forloop.counter }}"
                                   {% if beat.kick.pattern|getattribute:bar %}checked{% endif %}>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            alert('hui');
        })
    </script>
{% endblock %}
